.brands {
  background-color: $mainBgColor;
  padding-bottom: 26px;

  .swiper {
    width: 100%;
    min-height: 130px;
    padding: 16px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px;
    border-radius: 6px;
    border: solid 1px #eaeaea;
    background-color: $secondBgColor;
    box-sizing: border-box;
  }

  &__more {
    display: none;
  }
}
