.description {
  padding: 26px 0 17px 0;

  &__text-wrapper {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.2px;
  }

  &__text {
    height: 90px;
    overflow: hidden;
    &--open {
      height: auto;
    }
  }

  &__more {
    margin-top: 15px;
    margin-left: 32px;
  }

  &__photo {
    display: block;
    margin-top: 12px;
    width: 100vw;
    height: auto;
    object-fit: contain;
    align-self: start;
  }
}

@media (min-width: 576px) {
  .description {
    padding: 31px 15px;
    display: flex;
    justify-content: space-around;

    &__text-wrapper {
      width: 45%;
      padding: 2px 20px 2px 0;
      line-height: 1.43;
    }

    &__text {
      height: 120px;
      &--open {
        height: auto;
      }
    }

    &__more {
      margin-top: 10px;
      margin-left: 33px;
    }

    &__photo {
      margin-top: 0;
      width: 50%;
      padding-left: 10px;
      border-radius: 3%;
    }
  }
}

@media (min-width: 768px) {
  .description {
    &__text {
      height: 160px;
      &--open {
        height: auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .description {
    padding: 0px 18px;

    &__text-wrapper {
      width: 47%;
      padding: 11px 10px 2px 0;
    }
  }
}
